#root {
  max-width: 1280px;
  min-width: 640px;
  margin: 0 auto;
  padding: 2rem;
  font-size: 1.4em;
}

header {
  display: flex;
  justify-content: space-between;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right > * {
  margin-left: 10px;
  margin-right: 10px;
}

.header-right > *:first-child {
  margin-left: 0;
}

.header-right > *:last-child {
  margin-right: 0;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding: 0 auto;
}

.DemoCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto; /* In case you need scrolling */
}

.DemoCarousel img {
  margin-right: 10px; /* Space between images */
  width: 20%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

.DemoCarousel img:last-child {
  margin-right: 0; /* Remove margin for the last image */
}

.MintButton {
  text-align: center;
  max-width: 640px;
  margin: 10px auto;
}

.GalleryPage .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.GalleryPage .gallery .TokenThumbnail {
  flex: 0 1 calc(25% - 10px);
  position: relative;
  margin: 5px;
}

.GalleryPage .gallery .TokenThumbnail:hover {
  border: 2px solid #bc8113;
  margin: 3px;
  border-radius: 8px;
}

.GalleryPage .gallery .TokenThumbnail .overlay-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #e3c30c;
  padding: 10px;
}

.GalleryPage .gallery .TokenThumbnail:hover .overlay-top-left {
  color: #bc8113;
}

.GalleryPage .gallery .TokenThumbnail img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

@media (max-width: 640px) {
  .GalleryPage .gallery .TokenThumbnail {
      flex: 0 1 calc(50% - 10px); /* 2 images per row on smaller screens */
  }
}

.ViewNFTPage {
  text-align: center;
}

.ViewNFTPage .description {
  text-align: left;
}

.ViewNFTPage img {
  border-radius: 8px;
}